#content
{
	font-family: monospace;
	font-size: 1.2em;
	margin-left: 0.5em;
}

#content a
{
	text-decoration: none;
}

#content a:hover
{
	text-decoration: underline;
}

#content h3
{
	color: #444444;
	margin-left: 0.75em;
	font-size: 1em;
}

/* emphasize */
#content span.emph
{
	font-style: italic;
}

#content hr
{
	border: 1px solid #e0e0e0;
}

#matrix
{
	/* actual size: 204x148 */
	width: 204px;
	height: 120px;
	border: 1px solid #aaaaaa;
	border-radius: 6px;
	margin: 0 0 0 4px;
}

#language
{
	margin-left: 0.5em;
}

#language img
{
	width: 3em;
	border: 1px solid #aaaaaa;
	border-radius: 4px;
	vertical-align: middle;
}

#language .inactive
{
	opacity: 0.2;
}
